* {
  margin: 1vh 1vw;
}

header {
  font-size: 25px;
  font-family: cursive;
  text-align: center;
  
  background: linear-gradient(to bottom, #ac1d4dfb 0%, #b1ff58b7 100%);
  padding: 10px;
  color: white;
}

img {
  border: solid beige;
  width: 160px;
  height: 160px;
}

div{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

footer{
  text-align: center;
}

.list{
  border: outset black 2px;
  padding: 20px;
}